<h1> New Financial Record</h1>
<form action="/financial" method="post">
<table>

	<tr> <td> Month Name: </td> <td> <input type="text" name="monthname" required> </td> </tr>
	<tr> <td> Budget: </td> <td> <input type="number" name="budget" required> </td> </tr>
	<tr> <td> Revenue: </td> <td> <input type="number" name="revenue" required> </td> </tr>
	<tr> <td> Supply Expenses: </td> <td> <input type="number" name="supply" required> </td> </tr>
	<tr> <td> Wage Expenses: </td> <td> <input type="number" name="wages" required> </td> </tr>
	<tr> <td> Ad Expenses: </td> <td> <input type="number" name="adverts" required> </td> </tr>


</table>

<button type="submit">Save</button>
</form>