<h1> New Supplier</h1>
<form action="/suppliers" method="post">
<table>

	<tr> <td> Supplier Name: </td> <td> <input type="text" name="suppliername" required> </td> </tr>
	<tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30" required> </textarea> 
</td> </tr>

</table>

<button type="submit">Save</button>
</form>