<h1> Supplier Details </h1>
<table>

	<tr> <td> Supplier ID: </td> <td> <%= onerec.supplier_id %> </td> </tr>
	<tr> <td> Supplier Name: </td> <td> <%= onerec.supplier_name %> </td> </tr>
	<tr> <td> Description: </td> <td> <%= onerec.supplier_description %> </td> </tr>
	
	
</table>