

 <h1>About Alpha Centurion </h1>
 <p> My idea for this business was inspired by my mother. She took up sewing as a hobby. 
	 Since the world is in the middle of a pandemic and she is a nurse, she decided to make protective masks similar to medical grade masks.
	She toyed with the idea of selling them and would constantly talk to me about it, so this idea was at the front of my mind
  	since project development started. For the purposes of the class, I am in charge of the operation but if this idea came to fruition, she would be in charge.
	All of the ideas for products and all business decsions made in this build of the store are mine. The purpose of Alpha Centurion is to provide people with high quality PPE while also supporting craftsmanship and small business.
	 </p>

