

 <h1>About my shop... </h1>
 <p> My currently un named shop is an idea of mine that was inspired by a hobby. My mother has taken up sewing as a hobby and started creating masks with medical grade filters in them.
	My business idea for IT 231 was to sell whose masks. They have the same filter that blue surgical masks have, but they have advantages. They can be custom made and re used. One can wash the cloth shell and simply replace the filter when needed.
	A far better investment than buying a box of masks. </p>

