<% if (allrecs.length > 0) {%>
    <% allrecs.forEach((recref, index) => { %>
        
            <table border =1>
                <tr>
                    <th>Product Name</th>        
                    <th>Price</th>
                    
                </tr>
            <form action="/catalog/add" method="post" >
                <input type="hidden" name="product_id" value=<%= recref.product_id %> >
                
                <tr>
                    <td><b><%= recref.product_name %></b></td>
                    <td>Price: <%= Intl.NumberFormat('en-US', { style: 'currency',currency: 'USD' }).format(recref.product_price) %></td>
                </tr>
                
            
                <tr>
                    <td> Quantity: <input type="number" name="qty" required> </td>
                    <td> <button type="submit">Add to Cart</button></td>
                </tr>

                
                
            </form>
            <tr>
                <td>Description: <%= recref.product_description %>  </td>
            </tr>
            </table>

        
    <% }); %>
<% } %>