<html>
 <head>
 <title><%= title %></title>
 <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
 <h1><%= title %></h1>
 
 <p> For questions comment or concerns, contact Peter. </p>
 <p>Email: peterconenna13@gmail.com</p>
 <p>Phone: 224-226-0221</p>
 
 
 </body>
</html>