<div id="footer" style="background-color:'lightblue';">
<h5><a href="/privacy">Privacy Policy</a> <a href="/help">Customer Support</a>  </h5>
<% if(session.isadmin){ %>
    <p> Things that need to be added/changed: nothing, project is done</p>
    <a href="/testpage">Easter Egg Page</a>
<%}%>   
</div>