
<table width ='100%' bgcolor='purple'> <tr>
<td width='20%' align='left'>
<a href="/"><img src="/images/logo.png" width="70" height="40">

</a></td>
 <td width='60%' align='center'><h1 style="color:gold;">Welcome to Alpha Centurion PPE</h1></td>

 <td width='10%' align='center'>
	<% if(session.person_id > 0) { %>
			<b style="color:gold;"> Hello <%= session.custname %>! </b> </br>
			<a style="color:gold;" href='/customer/logout'>Logout</a> 
	<% } else { %>
			<a style="color:gold;" href='/customer/register'>New Customer</a> </br>
			<a style="color:gold;" href='/customer/login'>Login</a> 
	<% } %>	

	</td>
 
 <td width='10%' align='center'><a href = "/catalog/cart" style="color:gold;">Cart</a></td>
</tr></table>
<p><form action="/search" method="get">
Search: <input type="text" name="searchcriteria">
<input type="submit" value="Go">
</form></p>

<ul>
	<li> <a href="/">Home</a> </li>
	<li> <a href="/about">About Us</a> </li>
	<li> <a href="/contact">Contact Us</a> </li>
	<li><a href = "/catalog">Catalog</a></li>
	<% if(session.isadmin){ %>
		<li><a href = "/employee">Employee</a></li>
		<li><a href = "/customer">Customer</a></li>
		<li><a href = "/product">Product</a></li>
		<li><a href = "/financial">Financial</a></li>
		<li><a href = "/suppliers">Suppliers</a></li>
		<li><a href = "/saleorder">Saleorder</a></li>
		<li><a href = "/orderdetail">Order Detail</a></li>
		<li><a href = "/report">Reports</a></li>
	<% } %>
		
</ul>
