<h1>Search</h1>
<% if (allrecs.length > 0) {%>
<table>
<tr>
<th> Product ID </th>
<th> Product Name </th>

</tr>
 <% allrecs.forEach((recref, index) => { %>
<tr>
<td><%= recref.product_id %></td>
<td><%= recref.product_name %></td>

<td><a href='/product/<%= recref.product_id %>/show'> Details</a></td>
 </tr>
 <% }); %>
</table>
 <% } else { %>
 <p>No Records Available</p>
 <% } %>