<h1>Reports</h1>

<p>Here are the available reports:</p>

<p><a href="/report/custlist">Customer Listing</a></p>

<p><a href="/report/productlist">Product Listing</a></p>

<p><a href="/report/saleorderlist">Saleorder Listing</a></p>

<p><a href="/report/orderdetaillist">Orderdetail Listing</a></p>
