<h1> New Product</h1>
<form action="/product" method="post">
<table>

	<tr> <td> Product Name: </td> <td> <input type="text" name="productname" required> </td> </tr>
	<tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30" required> 
</textarea> </td> </tr>

	<tr> <td> Quantity: </td> <td> <input type="number" name="productquantity" required> </td> </tr>
	<tr> <td> Price: </td> <td> <input type="number" name="productprice" required> </td> </tr>



</table>

<button type="submit">Save</button>
</form>