<h1> New Sale Record</h1>
<form action="/sale" method="post">
<table>

	<tr> <td> Customer ID: </td> <td> <input type="number" name="customer_id" required> </td> </tr>
	<tr> <td> Product ID: </td> <td> <input type="number" name="Product_id" required> </td> </tr>
	<tr> <td> Date: </td> <td> <input type="date" name="saledate" required> </td> </tr>
	<tr> <td> Transaction total ID: </td> <td> <input type="number" name="saleprice" required> </td> </tr>
	<tr> <td> Item quantity: </td> <td> <input type="number" name="quantity" required> </td> </tr>


</table>

<button type="submit">Save</button>
</form>